<footer>
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/43066af316.js" crossorigin="anonymous"></script>

    <div class="footer_container" >
        <div class="row">
            <div class="footer-col">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Affiliate Program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Get Help</h4>
                <ul>
                    <li><a href="#"> FAQ</a></li>
                    <li><a href="#"> Shipping</a></li>
                    <li><a href="#">Returns </a></li>
                    <li><a href="#">Order Status </a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Online Services</h4>
                <ul>
                    <li><a href="#">Watch</a></li>
                    <li><a href="#">Bags</a></li>
                    <li><a href="#">Shoes</a></li>
                    <li><a href="#">Dress</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>

</footer>