<header>
    <h3>This is the header</h3>
    <ul>
        <% if(locals.user) { %>
            <li><%=user.name %> </li>
           <li>

            <a href="/task/sign-out">Sign Out</a>
           </li>

        <% } else { %>
            <li>
                <a href="/task/sign-in">Sign In</a>
            </li>
            <li>
                <a href="/task/sign-up">Sign Up</a>
            </li>
            <li>
                <p>
                    <a href="/task/auth/google">Google Sign In/Up</a>
                </p>
            </li>

            <% } %>
    </ul>
</header>