<link rel="stylesheet" href="/css/home.css">
<div class=" homecontainer">

    <div class="homecontent">
        <h1>Stay Organised<br>Stay Productive</h1>
        <p>Make effective task management a breeze!<br>Add all your tasks to manageable lists and keep a track of them.</p>
    </div>
</div>       