<html>

<head>
    <title>
        <%=title %>
    </title>
   
</head>

<body>
    <%- include('header'); %>
    

    <%- body %>




    
   <%- include('footer'); %>
   

    <script type="text/javascript" src="/js/home.js"></script>
</body>

</html>