<link rel="stylesheet" href="/css/signin.css">
  <form action="/create-session" method="post" style="border:1px solid #ccc">
	<div class="signupcontainer">
	  <h1>Sign In</h1>
	  <p>Please Sign In</p>
	  <hr>
  
	  <label for="email"><b>Email</b></label>
	  <input type="email" placeholder="Enter Email" name="email" required>
	  <br>
  
	  <label for="password"><b>Password</b></label>
	  <input type="password" placeholder="Enter Password" name="password" required>
  
	  <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
  
	  <div class="clearfix">
		<button type="button" class="cancelbtn">Cancel</button>
		<button type="submit" value="Sign Up" class="signupbtn">Sign In</button>
	  </div>
	</div>
  </form>
  